{% extends 'main.html' %}
{% block content %}
<div class="container  text-light bg-dark shadow rounded-3" style="width:60%; margin-bottom: 10%;">
    <div class="container text-start">
        <h1 class="display-6 lead ">Breast Cancer Prediction</h1>
    </div>
    <div class="container my-2" style="display:inline-block">
        <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
            <div class="row">
                <!-- first col -->

                <div class="col-4">


                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Texture mean</label>
                        <input type="text" name=" texture_mean” id="" class=" form-control " style=" width:70% ; ">
                    </div>

                    <div class=" text-light my-2 ">
                        <label for="" class=" form-label">Smoothness Standard Error</label>
                        <input type="text" name="smoothness_se" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Texture Standard Error</label>
                        <input type="text" name="texture_se" id="" class="form-control " style="width:70% ;">
                    </div>
                    <div class="text-light ">
                        <label for="" class="form-label">Smoothness mean</label>
                        <input type="text" name="smoothness_mean" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Compactness mean</label>
                        <input type="text" name=" compactness_mean" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Fractal Dimension Mean</label>
                        <input type="text" name="fractal_dimension_mean" id="" class="form-control "
                            style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Concave points mean</label>
                        <input type="text" name="concave_points_mean" id="" class="form-control " style="width:70% ;">
                    </div>

                    <input type="submit" value="Predict" class="btn btn-info my-4">
                </div>

                <!-- second col -->
                <div class="col-4">
                    <div class="text-light ">
                        <label for="" class="form-label">Symmetry mean</label>
                        <input type="text" name="symmetry_mean" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Symmetry Standard Error</label>
                        <input type="text" name="symmetry_se" id="" class="form-control " style="width:70% ; ">
                    </div>


                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Area Se</label>
                        <input type="text" name="area_se" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label"> Compactness se </label>
                        <input type="text" name="compactness_se" id="" class="form-control " style="width:70% ;">
                    </div>
                    <div class="text-light ">
                        <label for="" class="form-label"> Concavity se </label>
                        <input type="text" name="concavity_se" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Concave points se</label>
                        <input type="text" name="concave_points_se" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Fractal dimension se </label>
                        <input type="text" name="fractal_dimension_se" id="" class="form-control " style="width:70% ;">
                    </div>




                </div>

                <!-- third col -->
                <div class="col-4">
                    <div class="text-light ">
                        <label for="" class="form-label"> Texture worst </label>
                        <input type="text" name="texture_worst" id="" class="form-control " style="width:70% ;">

                    </div>



                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Area Worst </label>
                        <input type="text" name="area_worst" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Smoothness Worst </label>
                        <input type="text" name="smoothness_worst" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light ">
                        <label for="" class="form-label">Compactness worst</label>
                        <input type="text" name="compactness_worst" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">concavity Worst </label>
                        <input type="text" name="concavitiy_worst" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Concave Points Worst</label>
                        <input type="text" name="concave_points_worst" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Symmetry worst </label>
                        <input type="text" name="symmetry_worst" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label"> Fractal dimension worst </label>
                        <input type="text" name=" fractal_dimension_worst " id="" class="form-control "
                            style="width:70% ;">
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}