{% extends 'main.html' %}
{% block content %}
{% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}


<div class="container  text-light bg-dark shadow rounded-3 col-7">
    <div class="container my-3 p-2text-start">
        <h1 class="display-6 lead">Diabetes Prediction</h1>
    </div>
    <div class="container my-2" style="display:inline-block">
        <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
            <div class="row">
                <!-- first col -->
                <div class="col-4">
                    <div class="text-light ">
                        <label for="" class="form-label">Number of Pregnacies</label>
                        <input type="text" name="pregnancies" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Skin Thickness value</label>
                        <input type="text" name="skinthickness" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Diabetes Pedigree Function value</label>
                        <input type="text" name="dpf" id="" class="form-control " style="width:70% ;">
                    </div>

                </div>

                <!-- second col -->
                <div class="col-4">
                    <div class="text-light ">
                        <label for="" class="form-label">Glucose Level</label>
                        <input type="text" name="Glucose" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Insulin Level</label>
                        <input type="text" name="Insulin" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Age Of Person</label>
                        <input type="text" name="age" id="" class="form-control " style="width:70% ;">
                    </div>

                </div>

                <!-- third col -->
                <div class="col-4">
                    <div class="text-light ">
                        <label for="" class="form-label">Blood Pressure value</label>
                        <input type="text" name="bloodpressure" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">BMI value</label>
                        <input type="text" name="BMI" id="" class="form-control " style="width:70% ; ">
                    </div>


                </div>
            </div>

            <input type="submit" class="btn btn-info btn-block my-3" value="Predict">
        </form>
    </div>
</div>

{% endblock %}