{% extends 'main.html' %}
{% block content %}


<div class="container  text-light bg-dark shadow rounded-3" style="width:60%">
    <div class="container text-start">
        <h1 class="display-6 lead ">Heart Disease Prediction</h1>
    </div>
    <div class="container my-2" style="display:inline-block">
        <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
            <div class="row">
                <!-- first col -->
                <div class="col-4">
                    <div class="text-light ">
                        <label for="" class="form-label">Age</label>
                        <input type="text" name="age" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Resting Blood Pressure in mm Hg</label>
                        <input type="text" name="trestbps" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Resting Electrocardiographic reult</label>
                        <input type="text" name="restecg" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">ST depression induced by exercise relative to rest</label>
                        <input type="text" name="oldpeak" id="" class="form-control " style="width:70% ;">
                    </div>

                    <input type="submit" value="Predict" class="btn btn-info my-4">
                </div>

                <!-- second col -->
                <div class="col-4">
                    <div class="text-light ">
                        <label for="" class="form-label">Sex(Male:1,Female:0)</label>
                        <input type="text" name="sex" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Serum cholestral in mg/dl</label>
                        <input type="text" name="chol" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Maximum Heart Rate achieved</label>
                        <input type="text" name="thalach" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">The slope of the peak exercise ST Segment</label>
                        <input type="text" name="slope" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">3=normal;6=fixed defect;7=reversable defect </label>
                        <input type="text" name="thal" id="" class="form-control " style="width:70% ;">
                    </div>


                </div>

                <!-- third col -->
                <div class="col-4">
                    <div class="text-light ">
                        <label for="" class="form-label">Chest Pain type </label>
                        <input type="text" name="cp" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Fasting blood sugar 120mg/dl(1=true;0=false)</label>
                        <input type="text" name="fbs" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Excercise induced angina(1=Yes;0=NO)</label>
                        <input type="text" name="exang" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Number of major vessels(0-3)colored by flourusopy</label>
                        <input type="text" name="ca" id="" class="form-control " style="width:70% ;">
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}