{% extends 'main.html' %}
{% block content %}


<div class="container  text-light bg-dark shadow rounded-3" style="width:60%">
    <div class="container text-start">
        <h1 class="display-6 lead">Liver Disease Prediction</h1>
    </div>
    <div class="container my-2" style="display:inline-block">
        <form class="form-horizontal" action="{{ url_for('predictPage') }}" method="POST">
            <div class="row">
                <!-- first col -->
                <div class="col-4 ">
                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Age</label>
                        <input type="text" name="Age" id="" class="form-control " style="width:70% ;">

                    </div>

                    <div class="text-light my-2">
                        <label for="" class="form-label">Direct Bilirubin</label>
                        <input type="text" name="Direct_Bilirubin" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Alamine Aminotransferase</label>
                        <input type="text" name="Alamine_Aminotransferase" id="" class="form-control "
                            style="width:70% ;">
                    </div>
                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Gender(Male:1,Female:0)</label>
                        <input type="text" name="Gender_Male" id="" class="form-control " style="width:70% ;">

                    </div>

                </div>

                <!-- second col -->
                <div class="col-4">

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Total Protiens</label>
                        <input type="text" name="Total_Protiens" id="" class="form-control " style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Albumin and Globulin Ratio</label>
                        <input type="text" name="Albumin_and_Globulin_Ratio" id="" class="form-control "
                            style="width:70% ;">
                    </div>

                    <div class="text-light ">
                        <label for="" class="form-label">Total Bilirubin</label>
                        <input type="text" name="Total_Bilirubin" id="" class="form-control " style="width:70% ;">

                    </div>
                    <div class="text-light my-2 ">
                        <input type="submit" value="Predict" class="btn btn-info my-4">

                    </div>




                </div>
                <div class="col-4">
                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Alkaline Phosphotase</label>
                        <input type="text" name="Alkaline_Phosphotase" id="" class="form-control " style="width:70% ; ">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Aspartate Aminotransferase</label>
                        <input type="text" name="Aspartate_Aminotransferase" id="" class="form-control "
                            style="width:70% ;">
                    </div>

                    <div class="text-light my-2 ">
                        <label for="" class="form-label">Albumin</label>
                        <input type="text" name="Albumin" id="" class="form-control " style="width:70% ;">
                    </div>

                </div>



            </div>
        </form>
    </div>
</div>

{% endblock %}